{% trans_default_domain 'MyProfile' %}

<section class="hero is-medium has-background has-background-dark">
    <img
            alt="background image" class="hero-background is-transparent"
            src="{{ bucket_dns ~ '/' ~ bucket_name ~ '/' ~ app.user.getBackgroundImage() }}"/>

    <!-- Navbar -->
    <div class="hero-head">
        {% include 'profile/partial/navegation/navbar.html.twig' %}
    </div>

    <div class="hero-body">
        {% include 'profile/partial/navegation/about.html.twig' %}
    </div>

    <!-- Itens menu -->
    <div class="hero-foot">
        {% include 'profile/partial/navegation/menu.html.twig' %}
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => { // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) { // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => { // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>
