{
  "rules": {
    "eqeqeq": "off",
    "curly": "error",
//    "quotes": ["error", "double"],
    "no-use-before-define": "off",
    "quotes": "off",
    "object-curly-spacing": "off",
    "brace-style": "off",
    "semi": "off",
    "space-before-function-paren": "off",
    "padded-blocks": "off",
    "no-return-assign": "off",
    "no-void": "off",
    "no-var": "off",
    "no-mixed-operators": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "no-sequences": "off",
    "no-unused-expressions": "off",
    "no-undef": "off",

    //those rules need to fix manually
    "no-unsafe-finally": "off",
    "no-useless-escape": "off",
    "no-fallthrough": "off",
    "promise/param-names": "off",
    "no-func-assign": "off",
    "new-cap": "off",
    "array-callback-return": "off",
    "no-unused-vars": "off",
    "no-empty": "off",
    "no-cond-assign": "off",
    "no-unmodified-loop-condition": "off",
    "no-prototype-builtins": "off",
    "no-unreachable": "off",
    "prefer-const": "off",
    "valid-typeof": "off",
    "no-control-regex": "off",
    "no-new-func": "off",
    "no-self-compare": "off",
    "no-useless-call": "off",
    "no-throw-literal": "off",
    "no-tabs": "off"
  },
  "ignorePatterns": [".nuxt/", "dist"]
}
