{
  "rules": {
    "curly": "error",

    //those rules need to fix manually,
    "no-use-before-define": "off",
    "no-return-assign": "off",
    "no-unsafe-finally": "off",
    "no-useless-escape": "off",
    "no-fallthrough": "off",
    "promise/param-names": "off",
    "no-func-assign": "off",
    "new-cap": "off",
    "array-callback-return": "off",
    "no-unused-vars": "off",
    "no-empty": "off",
    "no-cond-assign": "off",
    "no-unmodified-loop-condition": "off",
    "no-prototype-builtins": "off",
    "no-unreachable": "off",
    "prefer-const": "off",
    "valid-typeof": "off",
    "no-control-regex": "off",
    "no-new-func": "off",
    "no-self-compare": "off",
    "no-useless-call": "off",
    "no-throw-literal": "off",
    "no-tabs": "off"
  },
//  @TODO remove dist after fix nuxtjs nitro
  "ignorePatterns": [".nuxt/", ".output/", "dist"]
}
