{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3 display-1 text-center">

            <!-- line 01 -->
            <div class="row text-danger">

                <div class="col-4">
                    <div class="border border-danger rounded">5</div>
                </div>
                <div class="col-4">
                    <div class="border border-danger rounded">0</div>
                </div>
                <div class="col-4">
                    <div class="border border-danger rounded">0</div>
                </div>

            </div>

            <div class="row">
                <div class="col-12 text-danger"><i class="fa fa-exclamation-circle"></i></div>
                <div class="col-12 text-center text-uppercase  h1 text-dark">Internal Server Error</div>
            </div>

            <div class="row">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="col-6">
                    {% else %}
                    <div class="col-6 offset-3">
                        {% endif %}
                        <a href="{{ path('app_homepage') }}" class="btn btn-danger btn-block"><i class="fa fa-home "></i> Return to the homepage </a>
                    </div>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="col-6">
                            <a href="{{ path('app_profile', {'username': app.user.username}) }}" class="btn btn-primary btn-block"><i class="fa fa-user-circle"></i> My profile </a>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}