.idea
/app/config/parameters.yml
/web/build/
/composer.phar
/vendor/
/web/bundles/
/web/compiled/
/web/css/
/web/uploads/
/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/phpunit.xml
/node_modules/