###> ide/jetbrains ###
.idea
###> ide/jetbrains ###

###> doker ###
.docker
###> doker ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
/.phpunit.cache
###< symfony/phpunit-bridge ###

###> myprofile
coverage.xml
###< myprofile

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
