services:
  app:
    image: node:18
    hostname: app
    working_dir: /app
    volumes:
      - ./:/app
    command: npm run dev
    ports:
      - "8000:8000"
    networks:
      - puppeteer

  pdf:
    image: ghcr.io/puppeteer/puppeteer:24.6.0
    user: "node:node"
    working_dir: /app
    volumes:
      - ./:/app
    command: npm run node:group:pdf pdf app
    depends_on:
      - app
    networks:
      - puppeteer

networks:
  puppeteer:
