parameters:
    level: 6
    paths:
        - src
    checkGenericClassInNonGenericObjectType: false
    excludePaths:
        analyseAndScan:
            - src/EventListener/UpdateCurriculumListener.php
    ignoreErrors:
    		- '#\$id is never written, only read.#'
