parameters:
    level: max
    paths:
        - src
    checkGenericClassInNonGenericObjectType: false
    excludePaths:
        analyseAndScan:
            - src/EventListener/UpdateCurriculumListener.php
    doctrine:
        objectManagerLoader: tests/object-manager.php
    ignoreErrors:
        - '#is never written, only read.#'
        - '#type mapping mismatch\: property can contain App\\Entity\\UserInterface#'
