<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>My profile</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
