{% trans_default_domain 'MyProfile' %}

{% extends 'base.html.twig' %}
{% block body %}

    {% include 'navegation_profile.html.twig' %}
    <div class="container">
    {% block container_profile %}
    {% endblock container_profile %}
    </div>
{% endblock body %}