# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_url: '%env(DATABASE_URL)%'

    mailer_transport: '%env(MAILER_TRANSPORT)%'
    mailer_host: '%env(MAILER_HOST)%'
    mailer_encryption: ssl
    mailer_port: 465
    mailer_user: '%env(MAILER_USER)%'
    mailer_password: '%env(MAILER_PASSWORD)%'

    #the email that going to send.
    mailer_to: '%env(MAILER_TO)%'
    mailer_from: '%env(MAILER_FROM)%'

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
    sentry_dsn: '%env(SENTRY_DSN)%'
