{% extends 'base_profile.html.twig' %}

{% block title %}New UserLanguage{% endblock %}

{% block container_profile %}
    <h1>Create new UserLanguage</h1>

    {{ include('user_language/_form.html.twig') }}

    <a href="{{ path('user_language_index') }}">back to list</a>
{% endblock %}
