@import "bulma/bulma.sass";

html {
	font-size: 10pt;
}

//Timeline
.timeline-item {
  display: flex;
  position: relative;
}

.timeline-item::before {
  background: #dadee4;
  content: "";
  height: 100%;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 2px;
  z-index: -1;
}

.timeline-item .timeline-icon {
  margin-top: 0px;
  //width: 40px;
  //height: 40px;
}

.timeline-item .timeline-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 0 0 1rem;
}
