{% for field in fields %}
    <div class="column {% if multiple is defined %}is-12{% endif %}">
        <div class="field">
            {{ form_label(field.name) }}
            <div class="control has-icons-left">
                {{ form_widget(field.name, {'attr': {'class': 'input'}}) }}
                {% if field.icon is defined%}
                <span class="icon is-small is-left">
					{{ field.icon|raw }}
				</span>
                {% endif %}
                {{ form_errors(field.name) }}
            </div>
        </div>
    </div>
{% endfor %}