<section id="resume" class="resume-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Resumo</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="resume-title">
                    <h3>Educação</h3>
                </div>
                <div class="resume">
                    <ul class="timeline">
                        <li>
                            <div class="posted-date">
                                <span class="month">2017-2019</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Especialização em Engenharia de Software</h3>
                                        <span>Estácio, Fortaleza-CE</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>Especialização em andamento.</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div><!-- /timeline-panel -->
                        </li>

                        <li class="timeline-inverted">
                            <div class="posted-date">
                                <span class="month">2014-2016</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Tecnóloga em Analise e Desenvolvimento de Sistemas</h3>
                                        <span>Fametro, Fortaleza-CE</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>Duração de 5 semestres.</p>
                                    </div> <!-- /timeline-content -->
                                </div> <!-- /timeline-panel -->
                        </li>

                        <li>
                            <div class="posted-date">
                                <span class="month">2009-2013</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Técnica em Informática</h3>
                                        <span>IFCE, Fortaleza-CE</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>Técnica Integrada em Informática, pelo Instituto Federal.</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div><!-- /timeline-panel -->
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /row -->

        <div class="row">
            <div class="col-md-12">
                <div class="resume-title">
                    <h3>Experiência</h3>
                </div>
                <div class="resume">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="posted-date">
                                <span class="month">2016-2017</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Desenvolvedora Front-End</h3>
                                        <span>Mob Telecom</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>Atualmente trabalho com as tecnologias: Html5, CSS, Javacript, AngularJs, Git, Bootstrap, Bower, Gulp.</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div> <!-- /timeline-panel -->
                        </li>

                        <li>
                            <div class="posted-date">
                                <span class="month">2015-2016</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Web Designer</h3>
                                        <span>SAS - Sistema Ari de Sá</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>Criação de <i>hotsites</i> usando Html5, CSS, Javascript, JQuery e Bootstrap. Manutenção e publicação de conteúdo no portal (Joomla - Criação de menus, artigos e etc.). Criação e divulgação de e-mails marketing utilizando o Joomla.</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div><!-- /timeline-panel -->
                        </li>

                        <li class="timeline-inverted">
                            <div class="posted-date">
                                <span class="month">2015</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Estágio em Desenvolvimento de Software</h3>
                                        <span>INB - Instituto Nobre Barreto</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>Criação de prototipação e layout para sites e fazendo artes gráficas (CorelDraw e Photoshop).</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div> <!-- /timeline-panel -->
                        </li>


                    </ul>
                </div>
            </div>
        </div><!-- /row -->
    </div><!-- /.container -->
</section><!-- End Resume Section -->