<section id="skills" class="skills-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Skills</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="skill-progress">
                    <div class="skill-title"><h3>HTML</h3></div>
                    <div class="progress">
                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" ><span>90%</span>
                        </div>
                    </div><!-- /.progress -->
                </div><!-- /.skill-progress -->

                <div class="skill-progress">
                    <div class="skill-title"><h3>SEO</h3></div>
                    <div class="progress">
                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ><span>50%</span>
                        </div>
                    </div><!-- /.progress -->
                </div><!-- /.skill-progress -->
            </div><!-- /.col-md-6 -->

            <div class="col-md-6">
                <div class="skill-progress">
                    <div class="skill-title"><h3>UX Design</h3></div>
                    <div class="progress">
                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" ><span>90%</span>
                        </div>
                    </div><!-- /.progress -->
                </div><!-- /.skill-progress -->
                <div class="skill-progress">
                    <div class="skill-title"><h3>Joomla</h3></div>
                    <div class="progress">
                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ><span>50%</span>
                        </div>
                    </div><!-- /.progress -->
                </div><!-- /.skill-progress -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->

        <div class="skill-chart text-center">
            <h3>Mais skills</h3>
        </div>

        <div class="row more-skill text-center">
            <div class="col-xs-12 col-sm-2 col-md-2"></div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="chart" data-percent="91" data-color="e74c3c">
                    <span class="percent"></span>
                    <div class="chart-text">
                        <span>CSS</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="chart" data-percent="75" data-color="2ecc71">
                    <span class="percent"></span>
                    <div class="chart-text">
                        <span>Javascript</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="chart" data-percent="80" data-color="3498db">
                    <span class="percent"></span>
                    <div class="chart-text">
                        <span>AngularJs</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="chart" data-percent="60" data-color="3498db">
                    <span class="percent"></span>
                    <div class="chart-text">
                        <span>JQuery</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="chart" data-percent="68" data-color="3498db">
                    <span class="percent"></span>
                    <div class="chart-text">
                        <span>Photoshop</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2"></div>
        </div>

    </div><!-- /.container -->
</section><!-- End Skills Section -->