<section id="works" class="works-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Portfólio</h2>

        <ul class="list-inline" id="filter">
            <li><a class="active" data-group="all">Todos</a></li>
            <li><a data-group="web">Web</a></li>
            <li><a data-group="design">Logos</a></li>
        </ul>

        <div class="row">
            <div id="grid">
                <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "web"]'>
                    <div class="portfolio-bg">
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <div class="links">
                                <a class="image-link" href="assets/images/works/portfolio-1.jpg"><i class="fa fa-search-plus"></i></a>
                            </div><!-- /.links -->
                            <img src="assets/images/works/portfolio-1.jpg" alt="image">
                            <div class="portfolio-info">
                                <h3>Hotsite</h3>
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                    </div><!-- /.portfolio-bg -->
                </div><!-- /.portfolio-item -->


                <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "web"]'>
                    <div class="portfolio-bg">
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <div class="links">
                                <a class="image-link" href="assets/images/works/portfolio-2.jpg"><i class="fa fa-search-plus"></i></a>
                            </div><!-- /.links -->
                            <img src="assets/images/works/portfolio-2.jpg" alt="image">
                            <div class="portfolio-info">
                                <h3>Hotsite</h3>
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                    </div><!-- /.portfolio-bg -->
                </div><!-- /.portfolio-item -->
                <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "web"]'>
                    <div class="portfolio-bg">
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <div class="links">
                                <a class="image-link" href="assets/images/works/portfolio-3.jpg"><i class="fa fa-search-plus"></i></a>
                            </div><!-- /.links -->
                            <img src="assets/images/works/portfolio-3.jpg" alt="image">
                            <div class="portfolio-info">
                                <h3>Site</h3>
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                    </div><!-- /.portfolio-bg -->
                </div><!-- /.portfolio-item -->
                <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "design"]'>
                    <div class="portfolio-bg">
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <div class="links">
                                <a class="image-link" href="assets/images/works/portfolio-4.jpg"><i class="fa fa-search-plus"></i></a>
                            </div><!-- /.links -->
                            <img src="assets/images/works/portfolio-4.jpg" alt="image">
                            <div class="portfolio-info">
                                <h3>Logo</h3>
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                    </div><!-- /.portfolio-bg -->
                </div><!-- /.portfolio-item -->
                <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "web"]'>
                    <div class="portfolio-bg">
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <div class="links">
                                <a class="image-link" href="assets/images/works/portfolio-6.jpg"><i class="fa fa-search-plus"></i></a>
                            </div><!-- /.links -->
                            <img src="assets/images/works/portfolio-6.jpg" alt="image">
                            <div class="portfolio-info">
                                <h3>Hotsite</h3>
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                    </div><!-- /.portfolio-bg -->
                </div><!-- /.portfolio-item -->
                <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "web"]'>
                    <div class="portfolio-bg">
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <div class="links">
                                <a class="image-link" href="assets/images/works/portfolio-7.jpg"><i class="fa fa-search-plus"></i></a>
                            </div><!-- /.links -->
                            <img src="assets/images/works/portfolio-7.jpg" alt="image">
                            <div class="portfolio-info">
                                <h3>Hotsite</h3>
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                    </div><!-- /.portfolio-bg -->
                </div><!-- /.portfolio-item -->
                <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "design"]'>
                    <div class="portfolio-bg">
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <div class="links">
                                <a class="image-link" href="assets/images/works/portfolio-5.jpg"><i class="fa fa-search-plus"></i></a>
                            </div><!-- /.links -->
                            <img src="assets/images/works/portfolio-5.jpg" alt="image">
                            <div class="portfolio-info">
                                <h3>Logo</h3>
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                    </div><!-- /.portfolio-bg -->
                </div><!-- /.portfolio-item -->
                <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["all", "web"]'>
                    <div class="portfolio-bg">
                        <div class="portfolio">
                            <div class="tt-overlay"></div>
                            <div class="links">
                                <a class="image-link" href="assets/images/works/portfolio-8.jpg"><i class="fa fa-search-plus"></i></a>
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div><!-- /.links -->
                            <img src="assets/images/works/portfolio-8.jpg" alt="image">
                            <div class="portfolio-info">
                                <h3>Site</h3>
                            </div><!-- /.portfolio-info -->
                        </div><!-- /.portfolio -->
                    </div><!-- /.portfolio-bg -->
                </div><!-- /.portfolio-item -->
            </div><!-- /#grid -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- End Works Section -->