body {
    background: url('../images/fundo_login.jpg'), no-repeat center center fixed;
    background-size: cover;
}
label {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 20px;
    font-weight: bold;
    color: slategrey;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
input {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    color: #ffff;
    display: inline-block;
    font-weight: 400;
    width: 300px;
    height: 40px;
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
    margin: 10px 0;
    border: solid 1px #ced4da;
    border-radius: 0.25rem;
    background: rgb(0, 123, 255);
}
input:hover{
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: #016ee2;
}
.fos_user_resetting_request {   
    padding: 26px;
    background: #f2f2f2;
    border-radius: 5px !important;
    margin-top: 60px;
    color: #f2f2f2;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(61, 61, 61, 0.6);
    width: 300px;
    height: 180px;
    margin: 60px auto;
}
#username {
    font-size: 18px;
    background: white;
    color: black;
    height: 40px;
    width: 294px;
    margin: 10px 0;
}
#username:focus {
    border: 1px solid #75a6da;
}

@media (max-width: 550px) {
 
    body {
        background: url('../images/fundo_login.jpg'), no-repeat center center fixed;
    }
}


