<a href="#" class="button is-text has-text-danger delete-button" onclick="openModalRemoveItem('{{ path(router, {'id': id}) }}', '{{ csrf_token('delete_' ~ id) }}')">
	<span class="icon is-small">
		<i class="fa fa-trash"></i>
	</span>
	<span class="csrf_token is-hidden">{{ csrf_token('delete_' ~ id) }}</span>
</a>
