<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>My profile</title>
        <script src="https://kit.fontawesome.com/a8322ae82c.js" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
