{# flashMessages#}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{label}}" style="margin: 0;">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}