<section id="resume" class="resume-section section-padding scrollspy">
    <div class="section">
        <div class="container">

            <h2 class="section-title wow fadeInUp">{{ 'default.resume' | trans }}</h2>

            {# Education #}
            {% if user.educations | length > 0 %}
                <div class="columns">
                    <div class="column is-12">
                        <div class="resume-title">
                            <h3>{{ 'navegation.education' | trans }}</h3>
                        </div>

                        {% include 'default/partials/resume/education.html.twig' %}
                    </div>
                </div><!-- /row -->
            {% endif %}

            {# experience #}
            {% if user.experiences | length > 0 %}
                <div class="columns">
                    <div class="column is-12">
                        <div class="resume-title">
                            <h3>{{ 'navegation.experience' | trans }}</h3>
                        </div>

                        {% include 'default/partials/resume/experience.html.twig' %}
                    </div>
                </div><!-- /row -->
            {% endif %}

        </div><!-- /.container -->
    </div>
</section><!-- End Resume Section -->
