.myprofile-block.basic {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 15px;
    width: auto !important;
    margin: 0 !important;
    font-weight: lighter !important;
  }
}