.myprofile-column .myprofile-block {
  padding-top: 10px;
  h2 {
    @extend .is-size-6;
    @extend .has-text-weight-bold;
    margin-bottom: 2px;
  }

  h3 {
    @extend .has-text-weight-bold;
    margin-top: 15px;
  }

  h4 {
    @extend .tag
  }
}