.myprofile-block:not(.basic):not(.has-skill):not(.is-list):not(.has-timeline) {
    @extend .content;
}

.myprofile-column .myprofile-block:not(.basic) {
  margin-top: 10px;
  text-align: justify;

  h2 {
    @extend .is-size-6;
    @extend .has-text-weight-bold;
    margin: 10px 0 10px 0;
  }
}

.myprofile-column:nth-child(1) .myprofile-block {
  h3 {
    font-size: small;
    font-weight: bolder;
  }
}

.myprofile-column:nth-child(2) .myprofile-block {

  @extend .columns;
  @extend .is-multiline;
  @extend .mx-1;

  h3, h4, h5 {
    @extend .column;
  }

  h3 {
    @extend .has-text-weight-bold;
    @extend .p-0;
    margin-top: 15px;
  }

  h4 {
    @extend .tag;
    @extend .is-3
  }

  h5 {
    font-style: italic;
    font-size: 10px;
    @extend .p-0;
    @extend .my-1;
    @extend .is-full;
  }
}