article {
  @extend .columns
}

.myprofile-column {
  @extend .column;
}

.myprofile-column:first-child {
  @extend .is-one-third;
  display: flex;
  flex-direction: column;
  align-items: center;

  .block {
    align-self: flex-start;
    //padding: 10px 0 10px 0;
  }
}

