// We are using icons from tabler-icons <3
// https://tabler-icons.io/

@import "@tabler/icons-webfont/tabler-icons.scss";
@import "@tabler/icons-webfont/tabler-icons.css";


.myprofile-column {
  h2::before, li::before, blockquote::before {
    margin-right: 5px;
    font-family: $ti-font-family;
    font-weight: lighter;
  }

  .icon-file-description::before {
    content: $ti-icon-file-description
  }

  .icon-education::before {
    content: $ti-icon-school
  }

  .icon-rock::before {
    content: $ti-icon-rocket
  }

  // Social network
  .icon-linkedin::before {
    content: $ti-icon-brand-linkedin;
  }

  .icon-xing::before {
    content: $ti-icon-brand-xing;
  }

  .icon-location::before {
    content: $ti-icon-map-pin;
  }

  .icon-mail::before {
    content: $ti-icon-mail
  }

  .icon-github::before {
    content: $ti-icon-brand-github
  }

  .icon-website::before {
    content: $ti-icon-link;
  }

  .icon-work::before {
    content: $ti-icon-briefcase;
  }

  .icon-circle {
    content: $ti-icon-circle-filled;
  }

  .icon-certification::before {
    content: $ti-icon-certificate
  }

  .icon-language::before {
    content: $ti-icon-messages
  }

  .icon-cubes::before {
    content: $ti-icon-box
  }

  .icon-double-check::before {
    content: $ti-icon-checks
  }

  .icon-heart::before {
    content: $ti-icon-heart
  }
  .icon-phone::before {
    content: $ti-icon-phone-call
  }

  //tecnologies
  .icon-php::before {
    content: $ti-icon-brand-php
  }

  .icon-js::before {
    content: $ti-icon-brand-javascript
  }
  .icon-typescript::before {
    content: $ti-icon-brand-typescript;
  }

  .icon-mysql::before {
    content: "\f1c0";
  }

  .icon-laravel::before {
    content: $ti-icon-brand-laravel
  }

  .icon-symfony::before {
    content: $ti-icon-brand-symfony
  }

  .icon-git-branch::before {
    content: $ti-icon-brand-git
  }

  .icon-docker::before {
    content: $ti-icon-brand-docker
  }

  .icon-react::before {
    content: $ti-icon-brand-react
  }

  .icon-node-js::before {
    content: $ti-icon-brand-nodejs
  }

  .icon-html5::before {
    content: $ti-icon-brand-html5
  }

  .icon-css3::before {
    content: $ti-icon-brand-css3;
  }
  
  .icon-analytics::before {
    content: $ti-icon-report-analytics;
  }
  
  .icon-office::before {
    content: $ti-icon-brand-office;
  }

  .icon-report::before {
    content: $ti-icon-report;
  }

  .icon-user-group::before {
    content: $ti-icon-users-group;
  }

  .icon-user-check::before {
    content: $ti-icon-user-check;
  }
}
