.myprofile-column {
  .myprofile-timeline::before {
    content: "";
    height: 100%;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 2px;
    z-index: 1;
    @extend .has-background-grey-dark
  }

  .myprofile-timeline {
    display: flex;
    position: relative;

    .myprofile-content {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      margin-top: -13px;
      padding: 0 0 15px 1rem;

      @extend .columns;
      @extend .is-multiline;
      @extend .mx-1;

      h3 {
        @extend .column;
        @extend .p-0;
      }

      h4 {
        @extend .column;
        @extend .tag;
        @extend .mt-4;
        @extend .is-3
      }

      h5 {
        font-style: italic;
        font-size: 10px;
        @extend .column;
        @extend .p-0;
        @extend .my-1;
        @extend .is-full;
      }
    }

    blockquote:first-child {
      @extend .image;
      @extend .is-24x24;
      @extend .has-background-white;
      z-index: 11;

      img {
        margin: -27px 0 0 8px;
        @extend .is-rounded;
      }
    }

    blockquote:before {
      margin-top: 0;
      margin-left: 11px;
      z-index: 10;
      @extend .has-text-grey-dark;
      @extend .myprofile-icon-circle;
      @extend .is-size-4;
    }
  }
}