<div class="column">
    <div class="field">
        {% for button in buttons %}
            {% if button.type == 'submit' %}
                <button type="submit" class="button is-primary">{{ button.name|trans }}</button>
            {% endif %}

            {% if button.type == 'link' %}
                <a href="{{ button.link }}" class="button is-text">{{ button.name|trans }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
