<div class="box has-background-dark has-text-primary-light">
        <div class="content">
                <figure class="image is-128x128">
                    <img src="{{ user.getProfileImage()}}" alt="Placeholder image" class="is-rounded">
                </figure>

            <div class="is-size-3">{{ user.getFirstName() }} {{ user.getLastName() }}</div>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
</div>