{% trans_default_domain 'MyProfile' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="{% block description %}{{ 'site.title_message' | trans }}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}sites profissionais,curriculo,resume,fazer curriculo,gratis,my profile,meu site,modelo,modelo de curriculo,modelo de curriculo {{ 'now' | date('Y') }}, curriculum vitae{% endblock %}">
        <meta name="author" content="My Profile">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if (app.environment != 'prod') %}
        <meta name="robots" content="noindex">
        {% endif %}

        {% block metaTags %}{% endblock %}
        <title>{% block title %}{{ 'site.welcome' | trans }}{% endblock %} | My profile</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.webp') }}">

        <!-- Cloudflare Web Analytics -->
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "fba6936b60de44fbb01bda1b66c393b3"}'></script>
        <!-- End Cloudflare Web Analytics -->
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
