{% trans_default_domain 'MyProfile' %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="author" content="My Profile">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
			| My profile</title>
		<script src="https://kit.fontawesome.com/a8322ae82c.js" crossorigin="anonymous"></script>
		{% block stylesheets %}
			{{ encore_entry_link_tags('style') }}
		{% endblock %}
	</head>
	<body>
    REMOVE IT
	</body>
</html>
