@CHARSET "UTF-8";
/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
    color: #333;
} 

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	margin-bottom: 5px !important;
}

body {
	background: url('/assets/images/fundo_login.jpg'), no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
	margin-top: 60px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

form[role=login] img {
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
}

form[role=login] input,
form[role=login] button {
	font-size: 18px;
	margin: 16px 0;
}

form[role=login] > div {
	text-align: center;
}

p {
	display: inline;
}

.text-center {
	color: slategrey;
	margin-top: -10px;
	margin-bottom: -10px;
}

.icon-img {
	width: 90px;
	height: 90px;
	margin-top: 5px;
	margin-bottom: 1px;
}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}

.form-links a {
	color: #fff;
}

.login-form {
    margin-top: 60px;
}

.btn {
	margin-top: 5px !important;
}