.row {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 600px;
    border-radius: 0.225rem;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 
    0 5px 20px 0 rgba(0, 0, 0, 0.24);
}