.has-timeline {
  h2 {
    width: 100%;
  }
  >blockquote::before {
    content: "";
    height: 100%;
    left: 18px;
    position: absolute;
    top: 20px;
    width: 2px;
    z-index: 1;
    @extend .has-background-grey-dark;
  }

  >blockquote {
    display: flex;
    position: relative;
    margin-bottom: 10px;

    >blockquote:nth-child(1)::before {
      margin-left: 13px;
      z-index: 10;
      @extend .has-text-grey-dark;
      @extend .icon-circle;
      @extend .is-size-7;
    }

    >blockquote blockquote:nth-child(1) p {
      @extend .image;
      @extend .is-24x24;
      z-index: 12;

      img {
        margin: -19px 0 0 7px;
        @extend .is-rounded;
        @extend .has-background-white;
      }
    }

    >blockquote blockquote:nth-child(2) {
      margin-top: -40px;
      margin-left: 40px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }

    >blockquote blockquote:nth-child(3) {
      @extend .content;
      margin-left: 40px;
    }
  }
}