name: Resume

on:
    discussion:
        types: [ created, edited ]
    pull_request:
        types:
            - opened
            - reopened
            - synchronize

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            -   run: |
                    ${{github.event.discussion.body}}
            -   uses: actions/checkout@v3
            -   uses: actions/setup-node@v3
                with:
                    node-version: 19

            -   name: cache
                id: cache-frontend
                uses: actions/cache@v3
                with:
                    key: frontend-${{ hashFiles('**/package-lock.json') }}
                    path: |
                        node_modules
                        .cache
                    restore-keys: |
                        frontend-

            -   run: npm install

    pdf:
        runs-on: ubuntu-latest
        needs: build
        name: Generate pdf
        steps:
            -   uses: actions/checkout@v3
            -   uses: actions/setup-node@v3
                with:
                    node-version: 19

            -   uses: actions/cache@v3
                with:
                    key: frontend-${{ hashFiles('**/package-lock.json') }}
                    path: |
                        node_modules
                        .cache
                    restore-keys: |
                        frontend-

            -   run: npm run node:group:init
            -   run: npm run build

            -   name: Generate pdf
                run: |
                    python3 -m http.server --directory dist &> /dev/null &
                    pid=$!
                    sleep 1
                    npm run node:generate:pdf
                    kill "${pid}"

            -   name: Save resume pdf
                uses: actions/upload-artifact@v3
                with:
                    name: resume
                    retention-days: 10
                    path: data/pdf/resume.pdf
