name: Resume

on:
    discussion:
        types: [ created, edited ]
    pull_request:
        types: [ labeled ]

jobs:
    discussion-comment-initial:
        uses: shield-wall/myprofile/.github/workflows/discussion-comment.yaml@master
        if: github.event_name == 'discussion'
        with:
            discussionId: ${{github.event.discussion.number}}
            body: |
                Your resume started to be processed :rocket:
                :bell: When it's done we will notify you here 
                
                :star: Pipeline: https://github.com/shield-wall/myprofile/actions/runs/${{github.run_id}}

    resume:
        runs-on: ubuntu-latest
        name: Generate pdf
        if: github.event_name == 'discussion' || github.event.label.name == 'template'
        steps:
            -   uses: actions/checkout@v3
            -   uses: actions/cache@v3
                with:
                    key: frontend-${{ hashFiles('**/package-lock.json') }}
                    path: |
                        node_modules
                        .cache
                    restore-keys: |
                        frontend-

            -   run: npm install

            # Process from discussion.
            -   name: Get content from discussion's description
                if: github.event_name == 'discussion'
                uses: DamianReeves/write-file-action@master
                with:
                    path: ./data/data.txt
                    contents: ${{github.event.discussion.body}}
            -   run: |
                    npm run node:generate:data
                    npm run lint:check:yaml
                if: github.event_name == 'discussion'

            # Process from pull request.
            -   run: npm run node:copy-data
                if: github.event_name == 'pull_request'

            -   run: npm run node:generate:json
            -   run: npm run build

            -   name: Generate pdf
                run: |
                    python3 -m http.server --directory dist &> /dev/null &
                    pid=$!
                    sleep 1
                    npm run node:generate:pdf
                    kill "${pid}"

            -   name: Upload resume to bucket
                run: npm run cloud:bucket:object put -- --file=data/pdf/resume.pdf myprofile/users/${{github.actor}}/resume.pdf
                env:
                    CLOUDFLARE_ACCOUNT_ID: ${{secrets.CLOUDFLARE_ACCOUNT_ID}}
                    CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

    discussion-comment-final:
        uses: shield-wall/myprofile/.github/workflows/discussion-comment.yaml@master
        if: github.event_name == 'discussion'
        needs: resume
        with:
            discussionId: ${{github.event.discussion.number}}
            body: |
                Your resume was processed with success :tada: :tada:
                Resume link: https://bucket.myprofile.pro/users/${{github.actor}}/resume.pdf
