{% extends 'security/base.html.twig' %}

{% block title 'page.title.registration'| trans %}
{% set title = 'security.registration.title' %}
{% set message = 'security.registration.message' %}
{% set icon = '<i class="fa fa-check-circle fa-5x"></i>' %}

{% block security_content %}
    {{ form_start(registrationForm) }}

    <div class="columns">
        {% include 'component/fields.html.twig' with {
            'fields': [
                {
                    'name': registrationForm.first_name,
                    'icon': '<i class="fa fa-user"></i>'
                },
                {
                    'name': registrationForm.last_name,
                    'icon': '<i class="fa fa-user"></i>'
                },
            ]
        } %}
    </div>

    <div class="columns is-multiline">
        {% include 'component/fields.html.twig' with {
            'multiple': true,
            'fields': [
                {
                    'name': registrationForm.email,
                    'icon': '<i class="fa fa-envelope"></i>',
                },
                {
                    'name': registrationForm.plainPassword.first,
                    'icon': '<i class="fa fa-lock"></i>',
                },
                {
                    'name': registrationForm.plainPassword.second,
                    'icon': '<i class="fa fa-lock"></i>',
                },
            ]
        } %}
    </div>

    <div class="columns">
        {% include 'component/buttons.html.twig' with {
            buttons : [
                {
                    'type': 'submit',
                    'name': 'security.registration.submit'
                },
                {
                    'type': 'link',
                    'name': 'security.login.submit',
                    'link': path('app_login')
                }
            ]
        } %}
    </div>

    {{ form_end(registrationForm) }}
{% endblock %}
